body {
    display: flex;
    width: 100vw;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.header {
    text-align: center;
    height: 13vh;
    margin-top: 0vh;
    font-size: 10vh;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline black;
}

.levelContainer {
    height: 20vh;
    max-width: 80vw;
    margin: 2vh;
    border-radius: 10px;
    padding: 5px;
}

.containerHeader {
    text-align: center;
    font-size: 3vh;
    margin: 0;
}

.levelProgress {
    font-size: 2vh;
    width: 80vw;
    display: flex;
}

.progressBar {
    width: 30vw;
    background-color: green;
    border: 2px solid black;
    margin-left: 5vw;
    margin-right: 2.5vw;
}

.levelButton {
    width: 39vw;
    height: 13vh;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
}

form{
    width: 39vw;
    height: 13vh;
    display: inline-block;
    border-radius: 10px;
    justify-content: space-between;
}

.progressBarThree {
    width: 30vw;
    background-color: green;
    border: 2px solid black;
    margin-left: 25vw;
}

#levelThreeButton {
    width: 78vw;
    height: 13vh;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
}