body {
    background-color: green;
    display: flex;
    width: 100vw;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#levelTwoContainer {
    display: block;
}

#hud {
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    margin-bottom: 4vh;
    margin-top: 3vh;
}

#menu {
    width: 10vh;
    height: 5vh;
    margin-left: 3vw;
    margin-top: 3vh;
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 4vh;
}

#germanLetter {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 35vh;
    width:  80vw;
    text-align: center;
}

.image {
    width: auto;
    height: 35vh;
    object-fit: cover;
    border: 4px solid black;
}

#koreanPossibilities {
    height: 28vh;
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5vw;
    height: 28vh;
    max-width: 80%;
}

.button {
    border: 1px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    outline: none;
    height: 20vh;
    width: 20vw;
    margin-top: 10vh;
}

.answersImage{
    max-width: 20vw;
    max-height: 20vh;
}

/* TODO score as box and allign to center */
#score {
    width: fit-content;
    height: 5vh;
    font-size: 4vh;
    background-color: orange;
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: 10vh;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 3vw;
    background-color: orange;
    border-radius: 5px;
}

#further {
    border: 1px solid hsl(var(--hue), 100%, 30%);
    width: 20vw;
    height: 5vh;
    background-color: orange;
    margin-top: 4vh;
    margin-left: 75vw;
    border-radius: 5px;
    margin-bottom: 3vh;
}

#end {
    border: 1px solid hsl(var(--hue), 100%, 30%);
    width: 20vw;
    height: 5vh;
    background-color: orange;
    margin-top: 4vh;
    margin-left: 75vw;
    border-radius: 5px;
    margin-bottom: 3vh;
    display: none;
}

#quizStats {
        display: block;
        display: none;
        height: 50vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        display: none;
}

#stats {
    height: 50vh;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

#scoreStatsDiv {
    height: 5vh;
    width: 50vw;
}

#scoreStats {
    font-size: 50px;
    align-self: center;
    width: fit-content;
    margin-left: 20vw;
    margin-top: 0;
    margin-bottom: 0;
}

#allStats {
    width: 35vw;
    height: 35vh;
    background-color: gray;
    border-radius: 5px;
    margin-left: 7.5vw;
}

.answer {
    font-size: 30px;
    margin-left: 2vw;
}

#menuAfter {
    width: fit-content;
    max-height: 4vh;
    font-size: 25px;
    margin-bottom: 1vh;
    margin-left: 22vw;
    color: black;
    text-decoration: none;
    background-color: orange;
}